body {
    background-color: #222;
    color: #eee;
}

.main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: #cc0000;
    text-shadow: 2px 2px #000;
}

.search-box {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #cc0000;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* Configuração das caixas dos pokémons */
.pokemon-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #cc0000;
    font-family: 'Orbitron', sans-serif;
}

.pokemon-box {
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.pokemon-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 812px){
    .logo{
      width: 100%;
    }
  }
  
  @media screen and (max-width: 400px){
    .logo{
      height: 100%;
    }
  }